
.navbar{
  height: 10%;
}

.example-sidenav button{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.example-container {
  width: 100%;
  height: 95vh;
}

.example-sidenav-content {

}

.example-sidenav {
  // padding: 20px;
 
}
