<mat-toolbar class="navbar" color="primary">
    <button *ngIf="isShowMenu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="isShowMenu">My App</span>
    <span>Login</span>
    <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button mat-button routerLink="/students">Alumnos</button>
        <button mat-button routerLink="/courses">Cursos</button>
        <button mat-button routerLink="/inscription">Inscripciones</button>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>