<div class="container" *ngIf="course && action == 'edit'">

    <h2><strong>Editar</strong></h2>

    <div class="container__button">
        <button mat-raised-button (click)="back()">Volver</button>
        <button mat-raised-button color="primary" (click)="save()">Guardar</button>
    </div>

    <form class="container__form example-form" [formGroup]="form">

        <mat-form-field appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput disabled placeholder="Id" [value]="course.id">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Nombre del curso</mat-label>
            <input matInput type="text" placeholder="CourseName" formControlName="courseName" required>
            <!-- <mat-error *ngIf="false"></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Creditos</mat-label>
            <input type="text" matInput placeholder="credits" formControlName="credits" required>
            <!-- <mat-error *ngIf="false"></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Teacher's Name</mat-label>
            <input type="text" matInput placeholder="teachersName" formControlName="teachersName" required>
            <!-- <mat-error *ngIf="false"></mat-error> -->
        </mat-form-field>

    </form>

</div>

<div class="container" *ngIf="action != 'edit'">

    <h2><strong>Crear</strong></h2>

    <div class="container__button">
        <button mat-raised-button (click)="back()">Volver</button>
        <button mat-raised-button color="primary" (click)="create()">Guardar</button>
    </div>

    <form *ngIf="form" class="container__form example-form" [formGroup]="form">

        <mat-form-field appearance="fill">
            <mat-label>Nombre del curso</mat-label>
            <input matInput type="text" placeholder="Nombre del curso" formControlName="courseName" required>
            <!-- <mat-error *ngIf="false"></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Creditos</mat-label>
            <input type="text" matInput placeholder="creditos" formControlName="credits" required>
            <!-- <mat-error *ngIf="false"></mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Teacher's Name</mat-label>
            <input type="text" matInput placeholder="teacher's Name" formControlName="teachersName" required>
            <!-- <mat-error *ngIf="false"></mat-error> -->
        </mat-form-field>

    </form>

</div>